version: "3.4"
services:
  grafana:
    build:
      context: grafana
      args:
        UPSTREAM_VERSION: 9.3.6
    image: "grafana.dms.dnp.dappnode.eth:1.0.1"
    restart: always
    volumes:
      - "grafana_data:/var/lib/grafana"
  prometheus:
    build:
      context: prometheus
      args:
        UPSTREAM_VERSION: v2.30.0
    image: "prometheus.dms.dnp.dappnode.eth:1.0.1"
    restart: always
    volumes:
      - "prometheus_data:/prometheus"
      - "prometheus_file_sd:/prometheus_file_sd"
    environment:
      DATA_RETENTION_DAYS: 15
  manager:
    build: ./manager
    image: "manager.dms.dnp.dappnode.eth:1.0.1"
    restart: always
    volumes:
      - "manager_data:/data"
      - "prometheus_file_sd:/prometheus_file_sd"
volumes:
  grafana_data: {}
  prometheus_data: {}
  manager_data: {}
  prometheus_file_sd: {}
