version: "3.4"
services:
  grafana:
    build: ./grafana
    image: "grafana.dms.dnp.dappnode.eth:0.2.0"
    restart: always
    volumes:
      - "grafana_data:/var/lib/grafana"
  prometheus:
    build: ./prometheus
    image: "prometheus.dms.dnp.dappnode.eth:0.2.0"
    restart: always
    volumes:
      - "prometheus_data:/prometheus"
      - "prometheus_file_sd:/prometheus_file_sd"
  manager:
    build: ./manager
    image: "manager.dms.dnp.dappnode.eth:0.2.0"
    restart: always
    volumes:
      - "manager_data:/data"
      - "prometheus_file_sd:/prometheus_file_sd"
volumes:
  grafana_data: {}
  prometheus_data: {}
  manager_data: {}
  prometheus_file_sd: {}
